<div class="answer">
    <div class="title-part">
        <div class="count">
            <div class="title">本周答题</div>
            <div class="num">
                <img class="sta-icon" src="/static/img/learn/daily/yes.png" />
                <span class="num-count">1</span>
                <img class="sta-icon" src="/static/img/learn/daily/no.png" />
                <span class="num-count">0</span>
            </div>
        </div>

        <div class="mounth" @click="toMonthly">
            <img class="aword-icon" src="/static/img/learn/daily/aword.png" />
            <div class="mounthly">每月冲关</div>
            <img class="right-icon" src="/static/img/learn/daily/right.png" />
        </div>
    </div>

    <img class="daily-banner" src="/static/img/learn/daily/dailyba.png" />
    <div class="type">{{article.subject}}</div>

    <div class="question">{{article.question}}</div>
    <div v-if="userAnswer.isRight === 0" class="changecolor section"><img class="sta-icon" style="margin-right: 15px;" src="/static/img/learn/daily/no.png" />{{userAnswer.userAnswer}}</div>
    <div class="section"><img class="sta-icon" style="margin-right: 15px;" src="/static/img/learn/daily/yes.png" />{{userAnswer.rightAnswer}}</div>

    <div class="analysis">{{userAnswer.questionAnalysis}}</div>
</div>