<div class="travelRecords">
    <div class="list-box">
        <div class="travel-part">
            <img class="travelimg" src="/static/img/member/traimg.png" />
            <div class="info-part">
                <div class="title">长城3日游</div>
                <div class="status">报名中</div>
                <!-- <div class="status-begin status">进行中</div>
                <div class="status-over status">已结束</div> -->
                <div class="active-time">
                    <img class="active-time-img" src="/static/img/member/active-time.png" alt="">
                    <div class="active-period">2018/03/24</div>
                </div>
            </div>
        </div>
    </div>
</div>