<div class="learn">
    <div class="loopimg">
        <!-- <div class="slide-part" v-for="(obj,index) in modules" :key="index" @click="toUnderstand(obj)">
            <img :src="obj.bg_img?(imgUrl+obj.bg_img):'/static/img/learn/learnloop1.png'" />
            <div v-if="obj.module_name === '每日一学'" class="slide-content singleline">每日一学</div>
            <div v-if="obj.module_name === '你不知道的江西'" class="slide-content part-one">你不知道的</div>
            <div v-if="obj.module_name === '你不知道的江西'" class="slide-content part-two">— 江西 —</div>
            <div v-if="obj.module_name === '你不知道的非遗'" class="slide-content part-one">你不知道的</div>
            <div v-if="obj.module_name === '你不知道的非遗'" class="slide-content part-two">— 非遗 —</div>
        </div> -->
        <div class="slide-part" @click="toEveryDay">
            <img src="/static/img/learn/mryx.png" />
            <!-- <div class="slide-content singleline">每日一学</div> -->
        </div>
        <div class="slide-part" @click="toUnderstand(1)">
            <img src="/static/img/learn/jdjx.png" />
            <!-- <div class="slide-content part-one">你不知道的</div>
            <div class="slide-content part-two">— 江西 —</div> -->
        </div>
        <div class="slide-part" @click="toUnderstand(2)">
            <img src="/static/img/learn/zjfy.png" />
            <!-- <div class="slide-content part-one">你不知道的</div>
            <div class="slide-content part-two">— 非遗 —</div> -->
        </div>
    </div>
    <!-- <div class="article-name">精选文章</div> -->
    <div class="article-name">
        <div style="width: 70px;">精选文章</div>
        <span></span>
    </div>

    <div class="artivlelist">
        <yd-infinitescroll :callback="getList" ref="infinitescrollDemo">
            <yd-list theme="1" slot="list">
                <div class="article-part" v-for="(item,index) in featuredlist" :key="index" @click="toDetail(item.id)">
                    <img :src="item.img?(imgUrl+item.img):'/static/img/learn/art1.png'" />
                    <div class="article-content">
                        <div class="article-title" style="-webkit-box-orient: vertical;">{{item.title}}</div>
                        <div class="desc" style="-webkit-box-orient: vertical;">{{item.abstract}}</div>
                        <div class="time">{{item.createdAt?timeDeformate(item.createdAt):''}}</div>
                    </div>
                </div>
            </yd-list>
            <!-- 数据全部加载完毕显示 -->
            <span slot="doneTip" v-bind:class="[pageSize<=0 ? 'none' : '']">更多精选文章敬请期待~</span>
            <!-- 加载中提示，不指定，将显示默认加载中图标 -->
            <img slot="loadingTip" src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg" />
        </yd-infinitescroll>
    </div>

</div>