.settlement {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
}

.settlement .dashed {
    height: 2px;
    background: #fff url('~@/public/img/dash.jpg') center repeat-x;
    background-size: contain;
}


/*------------------选择地址---------------------*/

.settlement .address {
    /* margin:10px; */
    padding: 8px;
    border-radius: 6px;
    background: #f9f9f9;
}

.settlement .address>span:nth-child(1) {
    display: table-cell;
    vertical-align: middle;
}

.settlement .address>span:nth-child(1)>i {
    margin-right: 8px;
    font-size: 20px;
}

.settlement .address>span:nth-child(3) {
    display: table-cell;
    vertical-align: middle;
}

.settlement .address>span:nth-child(3)>i {
    margin-left: 8px;
    font-size: 20px;
    color: #999;
}

.settlement .address-middle {
    display: table-cell;
    width: 100%;
}

.settlement .noAddress {
    display: flex;
    justify-content: space-between;
}

.addressCon {
    display: flex;
    font-size: 15px;
    color: #232323;
    flex-direction: column;
    width: 100%;
}


/*-----------------商品信息----------------------*/

.settlement .product {
    line-height: 20px;
    padding-bottom: 50px;
    margin-top: 10px;
    background: #fff;
}

.settlement .product1 {
    /* margin:10px; */
    width: 94%;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 6px;
    background: #f9f9f9;
}

.settlement .product2 {
    flex: 0 0 100px;
}

.settlement .product2 img {
    width: 100px;
    height: 100px;
}

.settlement .productMes {
    padding-left: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.settlement .productMes .name {
    font-size: 15px;
}

.settlement .productMes .guige {
    color: #909090;
    font-size: 12px;
}

.settlement .productMes .red {
    color: #af0203;
}


/*------------------其他信息----------------------*/

.settlement .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 34px;
    line-height: 34px;
}

.settlement .list .title {
    color: #232323;
    font-size: 14px;
}

.settlement .list .num {
    width: 100%;
    color: #7b7b7b;
    font-size: 14px;
    border: none;
}


/*--------------底部-------------------------*/

.settlement .footer {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    /* line-height: 50px; */
    /* font-size: 16px; */
    background: #f7f7f7;
    justify-content: flex-end;
}

.settlement .footer1 {
    padding-right: 10px;
    /* display: -webkit-box; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.settlement .footer2 {
    widows: 140px;
    flex: 0 0 140px;
    background-color: #af0203;
    color: #fff;
    font-size: 17px;
}