<div class="tourism">
    <div class="part" @click="toLearn">
        <img src="/static/img/travel/yj.png" />
        <div class="desc">游记</div>
    </div>
    <div class="part" @click="toSelect">
        <img src="/static/img/travel/dldt.png" />
        <div class="desc">点亮地图</div>
    </div>
    <div class="part" @click="toActivities">
        <img src="/static/img/travel/lxhd.png" />
        <div class="desc">旅行活动</div>
    </div>
    <div class="part" @click="toActicle">
        <img src="/static/img/travel/lyzx.png" />
        <div class="desc">旅行文章</div>
    </div>
</div>